#root.root {
    --nav-btn-width: 35px;
    --nav-btn-height: 35px;

    --tabs-height: 38px;

    --selected-bg: var(--ff-tab-selected);
    --selected-border: #00ddff;

    --bookmarks-folder-height: 32px;
    --bookmarks-bookmark-height: 30px;
}

.TabsPanel, .bookmarks-tree {
    padding-left: 5px;
    padding-right: 4px;
}

.Tab[data-parent="true"] .title {
    font-weight: bold;
}

.Tab[data-parent="false"][data-colorized="true"]:not([data-lvl="0"]) .color-layer {
    opacity: .15;
}

/*
 * Visually flatten tree structure when sidebar is collapsed
 */

@media screen and (max-width: 50px) {
    #root {
        --tabs-indent: 0px;
        --bookmarks-indent: 0px;
    }

    .TabsPanel {
        padding-left: 3px;
        padding-right: 3px;
    }

    /* Hide static buttons to prevent obstructing the panel icons */
    .static-btns {
        visibility: collapse;
    }

    /* Forces the current active panel icon to be visible */
    .main-items > .nav-item[data-active="true"] {
        opacity: 100 !important;
        transform: initial !important;
    }

    /* Make the bookmark folder's highlight box fit better */
    .BookmarkNode > .body::before {
        left: -7px;
        width: calc(100% + .5em);
    }
}

/*
 * Wrap tab title into multiple lines
 */

#root {
    --tabs-title-padding: 8px;
    --tabs-font-size: 14px;
    --tabs-title-lines: 2;
}

.Tab .t-box {
    align-items: center;
    max-height: calc(var(--tabs-height) - var(--tabs-title-padding));
}

.Tab .title {
    font-size: var(--tabs-font-size);
    white-space: pre-wrap;
    line-height: calc((var(--tabs-height) - var(--tabs-title-padding)) / var(--tabs-title-lines));
}

/*
 * Add glow effect to container indicator
 */

.ctx {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 1px 10px 1px var(--color);
}
