#root {
    /* Increase tab height */
    --tabs-height: 32px;

    /* Drop shadow below the active and selected tab */
    --tabs-activated-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    --tabs-selected-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    /* Follow Firefox dark theme */
    /*
    Follow the additional steps in https://github.com/dexeonify/firefox-css#vertical-tabs
    to apply colors globally, not just the Sidebar
    */
    --bg: rgb(43, 42, 51) !important;                   /* Background color */
    --tabs-bg-hover: rgba(66, 65, 77, 0.8) !important;  /* Tab color on hover */
    --tabs-bg-active: rgba(66, 65, 77, 0.8) !important; /* Tab color on mouse click */
    --tabs-activated-bg: rgb(66, 65, 77) !important;    /* Active tab color */
    --tabs-selected-bg: rgb(82, 82, 94) !important;     /* Tab color on selection */
}

/* Make panel buttons in navigation strip follow dark theme */
.NavigationBar .panel-btn[data-active] {
    background-color: var(--tabs-activated-bg)
}

.NavigationBar .panel-btn:hover {
    background-color: var(--tabs-bg-hover)
}

/* Rounded corner tabs */
.Tab, .PinnedTab {
    border-radius: 5px
}

/* Add padding around the tabs list */
.container {
    padding: 5px !important;
}

/* Fix pointer position for tab reordering */
.Sidebar:not([data-panel-type="bookmarks"]) > .pointer {
    margin: 5px 0
}

/* Thin line beside the tabs to indicate sub-tree level */
.Tab:not([data-lvl="0"]) .lvl-wrapper {
    border-left: solid 1px var(--tabs-selected-bg)
}

/* Visually flatten tree structure when sidebar is collapsed */
@media screen and (max-width: 32px) {
    /* Flatten tree structure */
    #root { --tabs-indent: 0 }

    /* Add small padding around the tabs */
    .container { padding: 2px !important}

    /* Only display the active panel button */
    .panel-btn[data-active="true"] {
        display: flex !important;
        background: none !important
    }

    /* Hide the settings button and other panels' buttons */
    .panel-btn, .settings-btn {
        display: none !important
    }
}
