/* Increase tab height */
#root { --tabs-height: 32px }

/* Add some padding on both sides of the tabs and top of tabs list */
.container {
    padding-top: 5px !important;
    margin: 0 5px;
    max-width: calc(100% - 10px);
}

/* Fix pointer position, only in tabs panel */
:not(.Sidebar[data-panel-type="bookmarks"]) > .pointer {
    margin: 5px 0
}

/* Rounded corner tabs */
.Tab, .PinnedTab {
    border-radius: 5px
}

/* Drop shadow below the active and selected tab */
.Tab, .PinnedTab {
    --tabs-activated-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    --tabs-selected-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2)
}

/* Visually flatten tree structure when sidebar is collapsed */
@media screen and (width: 32px) {
    /* Flatten tree structure */
    #root { --tabs-indent: 0 }

    /* Add small padding around the tabs */
    .container { margin: 0 2px }

    /* Fix tabs highlight */
    .Tab { min-width: 28px }

    /* Only display the active panel button */
    .panel-btn[data-active="true"] {
        display: flex !important;
        background: none !important
    }

    /* Hide the settings button and other panels' buttons */
    .panel-btn, .settings-btn {
        display: none !important
    }
}

/* Follow Firefox dark theme */
/* Remember to set Background color to #2B2A33 in Sidebery Settings > Styles Editor > Common */
.Tab, .PinnedTab {
    --tabs-bg-hover: rgba(66, 65, 77, 0.8);    /* Tab color on hover */
    --tabs-bg-active: rgba(66, 65, 77, 0.8);   /* Tab color on mouse click */
    --tabs-activated-bg: rgb(66, 65, 77);      /* Active tab color */
    --tabs-selected-bg: rgb(82, 82, 94)         /* Tab color on selection */
}

/* Thin line beside the tabs to indicate sub-tree level */
.Tab:not([data-lvl="0"]) .lvl-wrapper {
    border-left: solid 1px var(--tabs-bg-hover)
}
