/*
 * Size and padding adjustments
 */
#root {
    --nav-btn-width: 36px;
    --nav-btn-height: 36px;
    --tabs-height: 36px;
    --bookmarks-folder-height: 32px;
    --bookmarks-bookmark-height: 32px;
}

.TabsPanel, .bookmarks-tree {
    padding-left: 4px;
    padding-right: 4px;
}

/* Bold title of parent tab */

.Tab[data-parent="true"] .title {
    font-weight: bold;
}


/* Add glow effect to container indicator */

.ctx {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 1px 10px 1px var(--color);
}

/*
 * Wrap tab title into multiple lines
 */

#root {
    --tabs-font-size: 0.85rem;
    --tabs-title-padding: 4px;
    --tabs-title-lines: 2;
}

.Tab .t-box {
    align-items: center;
    max-height: calc(var(--tabs-height) - var(--tabs-title-padding));
}

.Tab .title {
    font-size: var(--tabs-font-size);
    white-space: pre-wrap;
    line-height: calc((var(--tabs-height) - var(--tabs-title-padding)) / var(--tabs-title-lines));
}

/*
 * Progressively reduce the background opacity of nested tab levels
 */

.Tab {
    &[data-lvl="1"] .color-layer { opacity: 0.175; }
    &[data-lvl="2"] .color-layer { opacity: 0.150; }
    &[data-lvl="3"] .color-layer { opacity: 0.125; }
    &[data-lvl="4"] .color-layer { opacity: 0.100; }
    &[data-lvl="5"] .color-layer { opacity: 0.075; }
    &[data-lvl="6"] .color-layer { opacity: 0.050; }
    &[data-lvl="7"] .color-layer { opacity: 0.025; }
    &[data-lvl="8"] .color-layer { opacity: 0.000; }
}
