@import url(components/windows_controls_placeholder.css);
@import url(components/hide_tabs_toolbar.css);
@import url(components/autohide_sidebar.css);
@import url(components/enhance_context_menu.css);

/* Remove unneeded context menu entries */
#tabContextMenu #context_sendTabToDevice,
.share-tab-url-item,
#context-sendimage,
#context-sendvideo,
#context-sendlinktodevice,
#context-sep-setbackground,
#context-setDesktopBackground {
    display: none
}

/* Remove sidebar header */
#sidebar-header {
    display: none
}

/* Theme navigation bar and findbar separators to be consistent */
#navigator-toolbox {
    border-bottom-color: var(--toolbar-field-background-color) !important;
}

findbar {
    border-top-color: var(--toolbar-field-background-color) !important;
}
