/* Add icons to menus */
@import url(components/iconized_main_menu.css);
@import url(components/iconized_content_context_menu.css);
@import url(components/iconized_tabs_context_menu.css);
@import url(components/iconized_textbox_context_menu.css);

/* Remove unneeded context menu entries */
#tabContextMenu #context_sendTabToDevice,
.share-tab-url-item,
#context-sendimage,
#context-sendvideo,
#context-sendlinktodevice,
#context-sep-setbackground,
#context-setDesktopBackground {
    display: none
}

/* Remove sidebar header */
#sidebar-header {
    display: none
}

/* Make the context menu highlight corners more rounded */
menu, menuitem {
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}
