/* Hides Tabs Toolbar automatically if Sidebery is active */
@import url(components/windows_controls_placeholder.css);
@import url(components/hide_tabs_toolbar.css);

/*
URL bar blur
Minimimalize from https://github.com/datguypiko/Firefox-Mod-Blur
*/
#urlbar[breakout][breakout-extend][open] {
    background-image: url(noise-512x512.png) !important;
    background-color: #1C1B22BF !important;
    backdrop-filter: blur(32px) !important;
}

#navigator-toolbox {
    --toolbar-field-focus-background-color: transparent !important
}

/*
Changes various in-UI scrollabars to be slim and more subtle

Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/minimal_in-UI_scrollbars.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text.
*/
.panel-subview-body, #permList, scrollbar {
    color: inherit;
    scrollbar-width: thin
}

/* Remove "Send tab to device" and "Share" entry in tab context menu */
#tabContextMenu #context_sendTabToDevice,
.share-tab-url-item {
    display: none
}

/* Remove "Email Image...", "Send Link to Device" and "Set As Desktop Background..." entry in context menu */
#context-sendimage,
#context-sendlinktodevice,
#context-sep-setbackground,
#context-setDesktopBackground {
    display: none
}

/* Remove sidebar header */
#sidebar-header {
    display: none;
}
