/*
Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text.
*/

/* Switch layout depending on sidebar position */
#sidebar-box[positionend] { direction: rtl }
#sidebar-box[positionend] > * { direction: ltr }

/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */
#sidebar-box {
    --uc-sidebar-width: 40px;
    --uc-sidebar-hover-width: 300px;
    --uc-autohide-sidebar-delay: .6s; /* Wait 0.6s before hiding sidebar */
    width: var(--uc-sidebar-width) !important;
    min-width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    position: relative;
    z-index: 1;
}

#sidebar {
    transition: min-width .2s cubic-bezier(.15, .36, .3, 1) var(--uc-autohide-sidebar-delay) !important;
    min-width: var(--uc-sidebar-width) !important;
}

#sidebar-box:hover > #sidebar {
    min-width: var(--uc-sidebar-hover-width) !important;
    transition-delay: .3s !important;
    box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.5);
}

/* Add sidebar divider */
#sidebar {
    border-inline: 1px solid var(--toolbar-field-background-color);
    border-inline-width: 0px 1px;
}

#sidebar-box[positionend] > * {
  border-inline-width: 1px 0px;
}

/* Decrease sidebar width to 1px while fullscreen so that it's still hoverable */
#main-window[sizemode="fullscreen"] #sidebar-box {
    --uc-sidebar-width: 1px
}
