/*
Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text.
*/

/* Sidebar position is on the right */
#sidebar-box[positionend] { direction: rtl }

/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */
#sidebar-box {
    --uc-sidebar-width: 32px;
    --uc-sidebar-hover-width: 300px;
    --uc-autohide-sidebar-delay: .6s; /* Wait 0.6s before hiding sidebar */
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index: 1;
}

#sidebar {
    transition: min-width .2s cubic-bezier(.15, .36, .3, 1) var(--uc-autohide-sidebar-delay) !important;
    min-width: var(--uc-sidebar-width) !important;
}

#sidebar-box:hover > #sidebar {
    min-width: var(--uc-sidebar-hover-width) !important;
    transition-delay: .3s !important;

    /* Drop shadow when hovered */
    box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.5)
}

/* Add sidebar divider */
#sidebar {
    border-inline: 1px solid rgb(28, 27, 34);
    border-inline-width: 0px 1px;
}

/* Decrease sidebar width to 1px in full-screen so it is still hoverable */
#main-window[sizemode="fullscreen"] #sidebar-box { --uc-sidebar-width: 1px }
