/*
Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/context_menus_more_proton.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text.
*/

/* Adds rounded corners to context menus and makes them follow your Firefox theme! */
/* This is only going to work on Win10+ */

/* Adjust the border radius of the context menus and panels here */
panel, menupopup {
    --arrowpanel-menuitem-border-radius: 4px !important;
    --panel-border-radius: 8px !important;
}

#context-navigation > menuitem .menu-iconic-icon,
menupopup:not(.in-menulist) > menuitem,
menupopup > menu {
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

/* THEMING */
menupopup:not(.in-menulist) {
    --panel-background: var(--arrowpanel-background) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
}

panel, menupopup {
    --panel-item-hover-bgcolor: var(--toolbarbutton-hover-background) !important;
    --panel-item-active-bgcolor: var(--toolbarbutton-active-background) !important;
}

#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon,
#main-window menupopup:not(.in-menulist) > menuitem[_moz-menuactive],
#main-window menupopup > menu[_moz-menuactive] {
    background-color: var(--panel-item-hover-bgcolor) !important;
}

#context-navigation menuitem[_moz-menuactive][disabled] .menu-iconic-icon,
#main-window menupopup > menuitem[_moz-menuactive][disabled] {
     background-color: color-mix(in srgb, var(--panel-item-hover-bgcolor) 50%, transparent) !important;
}
