/*
Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text.
*/

/* HIDE TABS TOOLBAR */

:root { --uc-toolbar-height: 40px }

:root[titlepreface=" "] #TabsToolbar {
    visibility: collapse !important
}

:root[titlepreface=" "]:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height, 0px));
    transition: margin-top .3s ease-in-out !important;
}

/* MENU BAR FIX */

:root[titlepreface=" "] #toolbar-menubar[autohide="true"] {
    height: var(--uc-toolbar-height, 0px) !important;
    position: relative;
}

:root[titlepreface=" "] #toolbar-menubar[autohide="false"] {
    margin-bottom: var(--uc-toolbar-height, 0px);
}

/* Make the menu bar inline with the navigation bar and add some pretty fade out */
:root[titlepreface=" "] #toolbar-menubar[autohide="true"] #main-menubar {
    flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px) 20 / 30px;
}

:root[titlepreface=" "] #toolbar-menubar:not([inactive]) {
    z-index: 2;
}

/* Enable dragging if menu bar is inactive */
:root[titlepreface=" "] #toolbar-menubar[autohide="true"][inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
}
