/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/context_menus_more_proton.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Adds more proton-like styling to context menus. Rounded rows, and more consistent padding. This is only going to work on Win10+ */

/* Only apply CSS to actual context menus */
/*
Most of these are self-explanatory.

#contentAreaContextMenu is the context menu when you right-click on the webpage,
a link or an image.

#tabContextMenu and #backForwardMenu refers to the context menu when you
right-click a tab and back/forward button respectively.

#pageActionContextMenu is the context menu when you right-click a page action
item. They are located at the end of the URL bar, right beside the bookmark
button. Examples: Reddit Enhancement Suite and Translate Web Pages.

.textbox-contextmenu refers to the context menu when you right-click a textbox,
such as the URL bar.
*/
#contentAreaContextMenu,
#tabContextMenu,
#backForwardMenu,
#toolbar-context-menu,
#pageActionContextMenu,
.textbox-contextmenu {
    --arrowpanel-menuitem-margin: 0 4px;
    --arrowpanel-menuitem-padding-block: 6px;
    --arrowpanel-menuitem-padding-inline: 8px;
    --arrowpanel-menuitem-border-radius: 4px;
    --panel-separator-margin-vertical: 4px;
}

/*
#ContentSelectDropdownPopup is the dropdown used by Tab Session Manager's
category filter.

This style makes the dropdown more compact whilst keeping the rounded corner style.
*/
#ContentSelectDropdownPopup {
    --arrowpanel-menuitem-margin: 0 4px;
    --arrowpanel-menuitem-padding-block: 2px;
}

menupopup > menuitem,
menupopup > menu {
    /* Add padding on both sides */
    margin: var(--arrowpanel-menuitem-margin) !important;

    /* Align the menu item with the start of separator */
    padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline) !important;

    /* Rounded corner */
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

/* Padding at the top and below of the context menu */
menupopup:not(.in-menulist) {
    --panel-padding: var(--arrowpanel-menuitem-padding-block) 0 !important;
}

/* Padding before and after the separator */
menuseparator:not(.in-menulist) {
    margin-block: var(--panel-separator-margin-vertical) !important;
}

/* context-navigation are the buttons at the top of the context menu (previous page, reload etc) */
/* Make context-navigation aligned with the context menu list */
#context-navigation {
    padding-inline: var(--arrowpanel-menuitem-padding-inline) !important;
}

/* Make the highlight in context-navigation rounded */
#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon {
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}
