/*
Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/context_menus_more_proton.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text.
*/

/* Adds rounded corners highlight to context menus. This is only going to work on Win10+ */

/* Note: Variables in :root affect Firefox UI globally */
:root {
    --arrowpanel-menuitem-border-radius: 4px; /* The radius of the rounded corners */
    --panel-separator-margin-vertical: 4px;   /* The amount of padding around menu separators */
}

menupopup > menuitem,
menupopup > menu {
    /* Add padding on both sides of the context menu */
    margin: 0 4px !important;

    /* Rounded corners */
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

/* Add padding around the menu separator */
menuseparator:not(.in-menulist) {
    margin-block: var(--panel-separator-margin-vertical) !important;
}

/* context-navigation are the buttons at the top of the context menu (previous page, reload etc) */
#context-navigation {
    padding-inline: 4px !important; /* Align the context-navigation buttons with the menu items */
    padding-top: 2px !important;    /* Center the context-navigation buttons vertically */
}

/* Rounded corner highlight in context-navigation */
#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon {
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}
