/*
Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text.
*/

/*
 * Creates placeholders for window controls
 * This is a supporting file used by other stylesheets
 * This stylesheet is pretty much unnecessary if window titlebar is enabled
 * This file should preferably be imported before other stylesheets 
 */

/* Defaults for window controls on the RIGHT side of the window */
/* Modify these values to match your preferences */
:root[titlepreface=" "] {
    /* Space reserved for window controls */
    --uc-window-control-width: 138px;

    /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
    --uc-window-drag-space-pre: 30px;  /* left side */
    --uc-window-drag-space-post: 30px; /* right side */
}

/* ADDRESS BAR */

:root[titlepreface=" "] #nav-bar {
    border-inline: var(--uc-window-drag-space-pre, 0px) solid var(--toolbar-bgcolor);
    border-right-width: calc(var(--uc-window-control-width, 0px) + var(--uc-window-drag-space-post, 0px));
    border-inline-style: solid !important;
}

/* Remove drag space (on the left) when maximized or fullscreen */
:root:is([sizemode="maximized"], [sizemode="fullscreen"]) {
    --uc-window-drag-space-pre: 0px;
}

/* FULLSCREEN WINDOW CONTROLS FIX */

:root[titlepreface=" "][sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container {
    visibility: visible;
    position: absolute;
    display: flex;
    right: 0;
    height: 40px;
}

:root[titlepreface=" "][sizemode="fullscreen"] #navigator-toolbox {
    position: relative;
}
